/* =+=+=+= Mixins =+=+=+= */

/* =+=+=+= Colors =+=+=+= */
$color-text: white;
$color-modal-bg: #0B293A;
$color-body-bg: #071F2D;
$color-main-bg: #0A2534;
$color-field-bg: #0D2A3A;
$color-message-inside: #113549;
$color-modal-friend-bg: #184761;
$color-header-bg: #071D29;
$color-btn-bg: #0E354A;
$color-menu-line: #0F3C55;

/* =+=+=+= Fonts =+=+=+= */
$font-family-sans-serif: 'Nunito', sans-serif;