@import 'normalize.scss';
@import '_variables.scss';

/* =+=+=+= Common =+=+=+= */
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    background: $color-body-bg;
    color: $color-text;
    font-family: $font-family-sans-serif;
    font-weight: 400;
}

.ui-btn{
    background: $color-btn-bg;
    outline: none;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 25px;
    color: $color-text;
    font-size: 20px;
    &:not(:first-child) {
        margin-left: 10px;
    }
}

/* =+=+=+= Header =+=+=+= */
header {
    z-index: 999;
    position: fixed;
    display: flex;
    background: $color-header-bg;
    width: 100%;
    padding-block: 20px;
    max-height: 100px;

    .header-menu{
        margin: auto;
        background: $color-btn-bg;
        height: 60px;
        width: 60%;
        overflow: hidden;
        border-radius: 45px;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: height .3s;

        &.active{
            .menu-arrow{
                transform: rotateX(-180deg);
            }
        }

        &__firstBar{
            padding: 15px;
            position: relative;
            height: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            &::after{
                content: '';
                border-radius: 10px;
                position: absolute;
                background: $color-menu-line;
                top: calc(100% + 1px);
                left: 10%;
                width: 80%;
                height: 5px;
            }

            .menu-arrow{
                width: 20px;
                height: 20px;
                transition: .3s;
            }

            .menu-pageName{
                display: flex;
                align-items: center;
                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
                h1{font-size: 30px;}
                &__pic{
                    width: 30px;
                    height: 30px;
                    background: white;
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }

            .menu-profile{
                display: flex;
                align-items: center;
                &__name{
                    font-size: 18px;
                    transform: translateY(6px);
                    margin-right: 5px;
                }
                &__pic{
                    background: white;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                }
            }
        }

        nav {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: flex-end;
            padding-inline: 10%;
            z-index: 10;
            padding-block: 16px;
            
            a {
                text-decoration: none;
                color: white;
            }

            .nav__link{
                margin-top: 10px;
                height: 50px;
                position: relative;
                display: flex;
                align-items: center;
                background: $color-btn-bg;
                padding-left: 5px;
                transition: .15s;
                cursor: pointer;

                &::before{
                    border-radius: 10px;
                    content: '';
                    position: absolute;
                    background: $color-menu-line;
                    top: 66%;
                    right: 0;
                    width: 48vw;
                    height: 5px;
                    z-index: -1;
                }

                img{
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }
                h1{
                    font-size: 25px;
                }
            }
        }
    }
}

/* =+=+=+= Main =+=+=+= */
main {
    display: flex;
    position: relative;
    background: $color-main-bg;
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;

    .search-area{
        padding-block: clamp(19vh, 190px, 20vh) clamp(5vh, 50px, 6vh);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        .search-field{
            width: 80%;
            height: 60px;
            border-radius: 45px;
            padding-left: 30px;
            padding-top: 5px;
            font-size: 18px;
            background-color: $color-btn-bg;
            border: none;
            outline: none;
            color: $color-text;

            &::placeholder {
                background: url('/images/icons/search.svg') no-repeat center left;
                padding-left: 35px;
                background-size: 30px 30px;
                color: $color-text;
                font-family: $font-family-sans-serif;
                font-weight: 400;
                font-size: 20px;

            }
        }

        .search-results{
            margin-top: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 95%;
            align-items: center;
            .search-result{
                margin-top: 15px;
                position: relative;
                width: 100%;
                height: 80px;
                border-radius: 25px;
                background: $color-field-bg;
                padding: 20px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .main-info{
                    display: flex;
                    align-items: center;
                    &__pic{
                        width: 40px;
                        height: 40px;
                        background: white;
                        border-radius: 50%;
                    }
                    &__name{
                        font-size: 24px;
                        margin-left: 5px;
                        transform: translateY(6px);
                    }
                }
                .result-btn{
                    display: flex;
                    align-items: center;

                    .user-btn{
                        cursor: pointer;
                        background: $color-btn-bg;
                        outline: none;
                        border: none;
                        padding: 6px 15px;
                        border-radius: 25px;
                        color: $color-text;
                        font-size: 18px;

                        &:not(:first-child) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .login-area{
        display: flex;
        width: 90%;
        min-height: 100vh;
        margin: 0 auto;
        justify-content: center;
        position: relative;
        flex-direction: column;
        .btns-area{
            margin-top: 60px;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
        }

        .form-login{
            flex-grow: 1;
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__part{
                padding-left: 30px;
                border-radius: 25px;
                font-size: 18px;
                background-color: $color-field-bg;
                border: none;
                outline: none;
                color: $color-text;
                width: clamp(60%, 400px, 90%);
                height: 40px;
                margin-top: 15px;
                &::placeholder {
                    color: $color-text;
                    font-family: $font-family-sans-serif;
                    font-weight: 400;
                    font-size: 20px;
    
                }
            }
            .ui-btn{
                margin-top: 15px;
            }
        }
    }

    .friends-area{
        padding-block: clamp(19vh, 190px, 20vh) clamp(5vh, 50px, 6vh);
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .btns-area{
            display: flex;
            align-items: center;
            width: 95%;
            justify-content: flex-start;
        }

        .friends{
            margin-top: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 95%;
            align-items: center;
            &__friend{
                margin-top: 15px;
                position: relative;
                width: 100%;
                height: 80px;
                border-radius: 25px;
                background: $color-field-bg;
                padding: 20px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .main-info{
                    display: flex;
                    align-items: center;
                    color: $color-text;
                    text-decoration: none;
                    &__pic{
                        width: 40px;
                        height: 40px;
                        background: white;
                        border-radius: 50%;
                    }
                    &__name{
                        font-size: 24px;
                        margin-left: 5px;
                        transform: translateY(6px);
                    }
                }
                .result-btn{
                    display: flex;
                    align-items: center;

                    .user-btn{
                        cursor: pointer;
                        background: $color-btn-bg;
                        outline: none;
                        border: none;
                        padding: 6px 15px;
                        border-radius: 25px;
                        color: $color-text;
                        font-size: 18px;

                        &:nth-child(2) {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .message-area{
        padding-block: clamp(19vh, 190px, 20vh) clamp(5vh, 50px, 6vh);
        display: flex;
        position: relative;
        width: 100%;
        flex-direction: column;
        align-items: center;
        .messages{
            margin-top: 30px;
            position: relative;
            display: flex;
            flex-direction: column;
            width: 95%;
            align-items: center;
            &__message{
                .user-info{
                    .message-pic{}
                    .message-name{}
                }
                .message-text{}
                .message-time{}
                &.user-message{}
            }
        }
        .new_message-area{

            .new_message{}
            .new_message-btn{}
        }
    }

    .chats-area{
        .chats{
            &__btns-area{}
            &__messages{
                .message{
                    &__pic{}
                    &__wrapper{
                        a {
                            .message__wrapper__name{}
                        }
                        &__content{
                            .content__user-name{}
                            .content__user-message{
                                .content__text{}
                            }
                        }
                    }
                }
            }
        }

        .modal-friends{

            &__close{}
            &__input{}
            &__friends{
                .friends__friend{
                    &__content{
                        .main-info{
                            &__pic{}
                            &__name{}
                        }
                    }
                    &__checkbox{}
                }
            }
            .ui-btn{
                margin-top: 10px;
            }
        }
    }
}


.modal-friends {
    display: none;

    &.active {
        display: flex;
    }
}
